@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&display=swap');

.products-list {
    display: flex;
    margin: 10px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: space-between;
}

.product-block {
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    border: 3px solid #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 69vh;
    position: relative;
}

@media (max-width: 1000px) {
    .products-list {
        font-size: 15px;
    }

    .product-block {
        min-height: 500px; 
    }
}

.product-block:hover {
    border: 3px solid #251f1f;
}

.product-block>img {
    margin: 10px 20px;
}

.product-info {
    padding: 5px;
    color: #000;
}

.product-info>div:nth-child(2) {
    color: grey;
}

.buttons {
    font-size: 40px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}